/* Estilos para todo el proyecto */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    background-image:url(/Assets/14710.jpg);
    background-size: cover;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #055895;
}

.img {
    display:flex;
    width: 100%;
    justify-content: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #055895;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(19, 22, 20, 0.5);
    cursor: pointer;
}

.contenedor-centrado a {
    padding: 8px;
    margin:4px;
    background-color: #055895;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 90%;
}

.contenedor-centrado a:hover {
    background-color: #0056b3;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(19, 22, 20, 0.5);
    cursor: pointer;
}
.logo {
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-logo {
    width: 1px;
    height: 60px;
    display: flex;
    justify-content: center;
}